WineExpressClientApp/web/WEB-INF/wsdl/localhost_8080/AccountInfoAppService/AccountInfoAppService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://service.account.wx.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service.account.wx.com/">

<xs:element name="FatalException" type="tns:FatalException"/>

<xs:element name="activateAccount" type="tns:activateAccount"/>

<xs:element name="activateAccountResponse" type="tns:activateAccountResponse"/>

<xs:element name="getAccountInfo" type="tns:getAccountInfo"/>

<xs:element name="getAccountInfoResponse" type="tns:getAccountInfoResponse"/>

<xs:element name="getAllMemberAccountInfo" type="tns:getAllMemberAccountInfo"/>

<xs:element name="getAllMemberAccountInfoResponse" type="tns:getAllMemberAccountInfoResponse"/>

<xs:element name="loginExistingAccount" type="tns:loginExistingAccount"/>

<xs:element name="loginExistingAccountResponse" type="tns:loginExistingAccountResponse"/>

<xs:element name="registerAccount" type="tns:registerAccount"/>

<xs:element name="registerAccountResponse" type="tns:registerAccountResponse"/>

<xs:element name="updateAccount" type="tns:updateAccount"/>

<xs:element name="updateAccountResponse" type="tns:updateAccountResponse"/>

<xs:complexType name="loginExistingAccount">
<xs:sequence>
<xs:element name="accountInfoDTO" type="tns:accountInfoDTO" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="accountInfoDTO">
<xs:complexContent>
<xs:extension base="tns:baseDTO">
<xs:sequence>
<xs:element name="activated" type="xs:boolean"/>
<xs:element name="activationCode" type="xs:string" minOccurs="0"/>
<xs:element name="birthday" type="xs:dateTime" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="loginSuccessed" type="xs:boolean"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="sex" type="xs:string" minOccurs="0"/>
<xs:element name="state" type="tns:userState" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="baseDTO" abstract="true">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="loginExistingAccountResponse">
<xs:sequence>
<xs:element name="return" type="tns:accountStateDTO" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="accountStateDTO">
<xs:complexContent>
<xs:extension base="tns:baseDTO">
<xs:sequence>
<xs:element name="activationSuccessed" type="xs:boolean"/>
<xs:element name="failCode" type="xs:string" minOccurs="0"/>
<xs:element name="failMassage" type="xs:string" minOccurs="0"/>
<xs:element name="loginSuccessed" type="xs:boolean"/>
<xs:element name="registerSuccessed" type="xs:boolean"/>
<xs:element name="state" type="tns:userState" minOccurs="0"/>
<xs:element name="updateSuccessed" type="xs:boolean"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="FatalException">
<xs:sequence>
<xs:element name="errorMessage" type="xs:string" minOccurs="0"/>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAccountInfo">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAccountInfoResponse">
<xs:sequence>
<xs:element name="return" type="tns:accountInfoDTO" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="activateAccount">
<xs:sequence>
<xs:element name="accountInfoDTO" type="tns:accountInfoDTO" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="activateAccountResponse">
<xs:sequence>
<xs:element name="return" type="tns:accountStateDTO" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registerAccount">
<xs:sequence>
<xs:element name="accountInfoDTO" type="tns:accountInfoDTO" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registerAccountResponse">
<xs:sequence>
<xs:element name="return" type="tns:accountStateDTO" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllMemberAccountInfo">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllMemberAccountInfoResponse">
<xs:sequence>
<xs:element name="return" type="tns:accountInfoDTO" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateAccount">
<xs:sequence>
<xs:element name="accountInfoDTO" type="tns:accountInfoDTO" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateAccountResponse">
<xs:sequence/>
</xs:complexType>

<xs:simpleType name="userState">
<xs:restriction base="xs:string">
<xs:enumeration value="GUEST"/>
<xs:enumeration value="MEMBER"/>
<xs:enumeration value="ADMIN"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>