WineExpressHostService/src/wsdl/AccountInfoAppService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. -->
<definitions targetNamespace="http://service.account.wx.com/" name="AccountInfoAppService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://service.account.wx.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://service.account.wx.com/" schemaLocation="AccountInfoAppService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getAllMemberAccountInfo">
    <part name="parameters" element="tns:getAllMemberAccountInfo"/>
  </message>
  <message name="getAllMemberAccountInfoResponse">
    <part name="parameters" element="tns:getAllMemberAccountInfoResponse"/>
  </message>
  <message name="FatalException">
    <part name="fault" element="tns:FatalException"/>
  </message>
  <message name="loginExistingAccount">
    <part name="parameters" element="tns:loginExistingAccount"/>
  </message>
  <message name="loginExistingAccountResponse">
    <part name="parameters" element="tns:loginExistingAccountResponse"/>
  </message>
  <message name="registerAccount">
    <part name="parameters" element="tns:registerAccount"/>
  </message>
  <message name="registerAccountResponse">
    <part name="parameters" element="tns:registerAccountResponse"/>
  </message>
  <message name="getAccountInfo">
    <part name="parameters" element="tns:getAccountInfo"/>
  </message>
  <message name="getAccountInfoResponse">
    <part name="parameters" element="tns:getAccountInfoResponse"/>
  </message>
  <message name="activateAccount">
    <part name="parameters" element="tns:activateAccount"/>
  </message>
  <message name="activateAccountResponse">
    <part name="parameters" element="tns:activateAccountResponse"/>
  </message>
  <portType name="AccountInfoAppService">
    <operation name="getAllMemberAccountInfo">
      <input wsam:Action="http://service.account.wx.com/AccountInfoAppService/getAllMemberAccountInfoRequest" message="tns:getAllMemberAccountInfo"/>
      <output wsam:Action="http://service.account.wx.com/AccountInfoAppService/getAllMemberAccountInfoResponse" message="tns:getAllMemberAccountInfoResponse"/>
      <fault message="tns:FatalException" name="FatalException" wsam:Action="http://service.account.wx.com/AccountInfoAppService/getAllMemberAccountInfo/Fault/FatalException"/>
    </operation>
    <operation name="loginExistingAccount">
      <input wsam:Action="http://service.account.wx.com/AccountInfoAppService/loginExistingAccountRequest" message="tns:loginExistingAccount"/>
      <output wsam:Action="http://service.account.wx.com/AccountInfoAppService/loginExistingAccountResponse" message="tns:loginExistingAccountResponse"/>
      <fault message="tns:FatalException" name="FatalException" wsam:Action="http://service.account.wx.com/AccountInfoAppService/loginExistingAccount/Fault/FatalException"/>
    </operation>
    <operation name="registerAccount">
      <input wsam:Action="http://service.account.wx.com/AccountInfoAppService/registerAccountRequest" message="tns:registerAccount"/>
      <output wsam:Action="http://service.account.wx.com/AccountInfoAppService/registerAccountResponse" message="tns:registerAccountResponse"/>
      <fault message="tns:FatalException" name="FatalException" wsam:Action="http://service.account.wx.com/AccountInfoAppService/registerAccount/Fault/FatalException"/>
    </operation>
    <operation name="getAccountInfo">
      <input wsam:Action="http://service.account.wx.com/AccountInfoAppService/getAccountInfoRequest" message="tns:getAccountInfo"/>
      <output wsam:Action="http://service.account.wx.com/AccountInfoAppService/getAccountInfoResponse" message="tns:getAccountInfoResponse"/>
      <fault message="tns:FatalException" name="FatalException" wsam:Action="http://service.account.wx.com/AccountInfoAppService/getAccountInfo/Fault/FatalException"/>
    </operation>
    <operation name="activateAccount">
      <input wsam:Action="http://service.account.wx.com/AccountInfoAppService/activateAccountRequest" message="tns:activateAccount"/>
      <output wsam:Action="http://service.account.wx.com/AccountInfoAppService/activateAccountResponse" message="tns:activateAccountResponse"/>
      <fault message="tns:FatalException" name="FatalException" wsam:Action="http://service.account.wx.com/AccountInfoAppService/activateAccount/Fault/FatalException"/>
    </operation>
  </portType>
  <binding name="AccountInfoAppServicePortBinding" type="tns:AccountInfoAppService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getAllMemberAccountInfo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="FatalException">
        <soap:fault name="FatalException" use="literal"/>
      </fault>
    </operation>
    <operation name="loginExistingAccount">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="FatalException">
        <soap:fault name="FatalException" use="literal"/>
      </fault>
    </operation>
    <operation name="registerAccount">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="FatalException">
        <soap:fault name="FatalException" use="literal"/>
      </fault>
    </operation>
    <operation name="getAccountInfo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="FatalException">
        <soap:fault name="FatalException" use="literal"/>
      </fault>
    </operation>
    <operation name="activateAccount">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="FatalException">
        <soap:fault name="FatalException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="AccountInfoAppService">
    <port name="AccountInfoAppServicePort" binding="tns:AccountInfoAppServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

