WineExpressClientApp/src/conf/xml-resources/web-service-references/PurchaseRecordService/wsdl/localhost_10993/PurchaseRecordService/PurchaseRecordService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://service.purchaseRecord.wx.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service.purchaseRecord.wx.com/">

<xs:element name="FatalException" type="tns:FatalException"/>

<xs:element name="getPurchaseHistory" type="tns:getPurchaseHistory"/>

<xs:element name="getPurchaseHistoryResponse" type="tns:getPurchaseHistoryResponse"/>

<xs:complexType name="getPurchaseHistory">
<xs:sequence>
<xs:element name="userAccountId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPurchaseHistoryResponse">
<xs:sequence>
<xs:element name="return" type="tns:purchaseRecordDTO" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="purchaseRecordDTO">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="purchaseDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="purchaseProductName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="FatalException">
<xs:sequence>
<xs:element name="errorMessage" type="xs:string" minOccurs="0"/>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>